<div class="modal fade" id="new-answer-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :answer, url: '/answers', html: { class: 'form-horizontal' } do %>
          <input type="hidden" name="answer[question_id]" value="<%= @question.id %>"/>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="answer[email]" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required/>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="inputAnswer">Answer</label>
            <textarea class="form-control" name="answer[body]" id="inputAnswer" placeholder="What is the answer?" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>